.footer-container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  color: #242424;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
}
.logo-social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-media-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-media-icons {
  width: 2rem;
  height: 2rem;
}
.footer-category {
  display: flex;
  flex-direction: column;
}
.category-header {
  font-size: 12px;
  color: inherit;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 500;
}
ul {
  padding: 0;
  margin: 5px 0;
}
ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.shop-links {
  color: inherit;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #323232;
  font-weight: 400;
}
